{{ $outer := . -}}

dependencies {
  paths = [
{{ if avail "Env" . -}}
  {{ if eq .Env "accounts" -}}
    {{ range $name, $backend := .AccountBackends }}    "../{{$name}}",
{{ end -}}
{{- else if eq .Env "" -}}
{{- else -}}
{{- range $component, $backend := .ComponentBackends -}}
  {{- if ne $component $outer.Name }}    "../{{$component}}",
{{ end  -}}
{{- end -}}
{{- range $name, $backend := .AccountBackends}}    "../../../accounts/{{$name}}",
{{ end -}}
{{- end -}}
{{- end }}  ]
}