{{ $outer := . }}

dependencies {
  paths = [
{{ if avail "Env" . -}}
  {{ if eq .Env "accounts" -}}
    {{ range $name, $backend := .AccountBackends }}    "../{{$name}}",
{{ end -}}
{{- else if eq .Env "" -}}
{{- else -}}
{{- range $component, $backend := .ComponentBackends }}    "../{{$component}}",
{{ end -}}
{{ range $name, $backend := .AccountBackends}}    "../../../accounts/{{$name}}",
{{ end -}}
{{- end -}}
{{- end }}
  ]
}