{{ template "fogg_header" }}
---
version: 3
projects:
{{ range $project := .Projects }}
  - name: {{ $project.Name }}
    dir: {{ $project.Dir }}
    terraform_version: {{ $project.TerraformVersion }}
    workflow: fogg
{{ end }}

workflows:
  fogg:
    plan:
      steps:
        - run: TF_IN_AUTOMATION=1 AWS_CONFIG_FILE=`git rev-parse --show-toplevel`/tmp/atlantis-aws-config /usr/local/bin/tf/versions/0.11.14/terraform init -input=false -no-color > /tmp/out.txt 2>&1 || (a=$?; echo $a && cat /tmp/out.txt; exit $a)
        - run: TF_IN_AUTOMATION=1 AWS_CONFIG_FILE=`git rev-parse --show-toplevel`/tmp/atlantis-aws-config /usr/local/bin/tf/versions/0.11.14/terraform plan -input=false -no-color | scenery
    apply:
      steps:
        - run: false # running in plan-only mode for now
