{{ template "fogg_header" }}
---
version: 3
projects:
{{ range $project := .Projects }}
  - name: {{ $project.Name }}
    dir: {{ $project.Dir }}
    workflow: fogg
    autoplan:
      when_modified: [{{ .PathToRepoRoot }}/terraform/modules/**/*.tf", "*.tf*"]
      enabled: true
{{ end }}

workflows:
  fogg:
    plan:
      steps:
        - run: make setup
        - run: make plan MODE=atlantis
    apply:
      steps:
        - run: make apply MODE=atlantis
