{{- $circleCI := . }}
version: 2

working_directory: &working_directory ~/fogg
venv_directory: &venv_directory ~/venv

jobs:
  build:
    docker:
      - image: circleci/python:3.8
    working_directory: *working_directory
    parallelism: {{ len .TestBuckets }}
    steps:
      - checkout
      # HACK(el):Switch to key that reads private tf modules after checking out our code
      - add_ssh_keys:
          fingerprints:
          {{- range $sshFingerprint := .SSHFingerprints }}
            - {{ $sshFingerprint }}
          {{- end }}
      - run: python3 -m venv *venv_directory
      - run: . *venv_directory/bin/activate
      - run: pip install awscli --upgrade --user
      - run: aws --version
      - run: FOGG_VERSION="v{{ .FoggVersion }}" make setup
{{- range $testBucket := .TestBuckets }}
  {{- range $component := $testBucket }}
      - run:
          command: |
            cd {{ $component.Dir }}
            make  {{ $component.Command }}
  {{- end }}
{{- end }}
