language: minimal
sudo: required
services:
  - docker
install:
  - pip install awscli --upgrade --user
  - aws --version
before_script:
  # TODO add note about why these need to be prefixed with HUB_
  - aws configure set aws_access_key_id     $HUB_AWS_ACCESS_KEY_ID     --profile {{ .AWSIDAccountName }}
  - aws configure set aws_secret_access_key $HUB_AWS_SECRET_ACCESS_KEY --profile {{ .AWSIDAccountName }}
  - aws --profile {{ .AWSIDAccountName }} sts get-caller-identity

{{ range $profile := .AWSProfiles}}
  - aws configure set profile.{{ $profile.Name }}.role_arn arn:aws:iam::{{ $profile.ID }}:role/{{ $profile.Role}}
  - aws configure set profile.{{ $profile.Name }}.source_profile {{ $profile.HubAccountName }}
  - aws --profile {{ $profile.Name }} sts get-caller-identity
{{ end }}

jobs:
  include:
{{ range $testShard := .TestShards }}
    - stage: check
      script:
      {{- range $component := $testShard }}
        - cd {{ $component }} && make check
      {{- end -}}
{{ end }}
