{{ range $name, $profile := .Profiles }}
[profile {{ $name }}]
role_arn = arn:aws:iam::{{ $profile.AccountID }}:role/{{ list $profile.RolePath $profile.RoleName | join "/" }}
credential_source = Ec2InstanceMetadata
{{ end }}