{{define "bless_provider"}}

provider bless {
  region  = "{{ .AWSRegion }}"
  {{ if .AWSProfile -}}
  profile = "{{ .AWSProfile }}"
  {{ end -}}
  {{ if .RoleArn -}}
  role_arn = "{{ .RoleArn }}"
  {{ end -}}
}

{{ $outer := . -}}
{{ range $region := .AdditionalRegions }}
provider bless {
  alias = "{{ $region }}"
  {{ if $outer.Version -}}
  version = "~>{{ $outer.Version }}"
  {{ end -}}
  region  = "{{ $region }}"
  {{ if $outer.AWSProfile}}
  profile = "{{ $outer.AWSProfile }}"
  {{ end -}}
  {{ if $outer.RoleArn}}
  role_arn = "{{ $outer.RoleArn }}"
  {{ end -}}
}
{{ end }}
{{ end }}
