{{ define "common_providers" -}}
provider random {
  version = "~> 2.2"
}

provider template {
  version = "~> 2.2"
}

provider archive {
  version = "~> 2.0"
}

provider null {
  version = "~> 3.0"
}

provider local {
  version = "~> 2.0"
}

provider tls {
  version = "~> 3.0"
}
{{- end }}
