{{define "snowflake_provider"}}

terraform {
  required_providers {
    snowflake = {
      source = "chanzuckerberg/snowflake"
      {{ if .Version -}}
      version = "{{ .Version }}"
      {{ end -}}
    }
  }
}

provider snowflake {
  account = "{{ .Account }}"
  role    = "{{ .Role }}"
  region  = "{{ .Region }}"
}

{{ end }}
