{{define "snowflake_provider"}}

provider "snowflake" {
  account = "{{ .Account }}"
  role    = "{{ .Role }}"
  region  = "{{ .Region }}"
  {{ if .Version -}}
  version = "~>{{ .Version }}"
  {{ end -}}
}

{{ end }}
