{{ define "aws_provider" }}
provider "aws" {
  {{ if .Alias }}alias = "{{ .Alias }}"{{ end }}
  region = "{{ .Region }}"
  {{ if .Profile }} profile = "{{ .Profile }}"{{ end }}
  {{ if .RoleArn }}
  assume_role {
    role_arn     = "{{ .RoleArn }}"
  }
  {{ end }}
  allowed_account_ids = ["{{ .AccountID }}"]
  {{- if and .IgnoreTags (and .IgnoreTags.Enabled (deRefBool .IgnoreTags.Enabled)) }}
  ignore_tags {
    {{ if and .IgnoreTags.Keys (not (eq (len .IgnoreTags.Keys) 0)) }} keys = [
    {{- range $k := .IgnoreTags.Keys }}
      "{{ $k }}",
    {{- end }}
    ]
    {{- end }}
    {{ if and .IgnoreTags.KeyPrefixes (not (eq (len .IgnoreTags.KeyPrefixes) 0)) }} key_prefixes = [
    {{- range $k := .IgnoreTags.KeyPrefixes }}
      "{{ $k }}",
    {{- end }}
    ]
    {{- end }}
  }
  {{- end }}
  {{- if and .DefaultTags (and .DefaultTags.Enabled (deRefBool .DefaultTags.Enabled)) }}
  default_tags {
    {{- if .DefaultTags.Tags }}
    tags = merge(var.tags,{
    {{- range $k, $v := .DefaultTags.Tags }}
      {{- if $v }}
      {{ $k }} = "{{ $v }}"
      {{- end }}
    {{- end }}
    })
    {{- else }}
    tags = var.tags
    {{- end }}
  }
  {{- end }}
}
{{ end }}
