{{ define "aws_provider" }}
provider "aws" {
  {{ if .Alias }}alias = "{{ .Alias }}"{{ end }}
  region = "{{ .Region }}"
  {{ if .Profile }} profile = "{{ .Profile }}"{{ end }}
  {{ if .RoleArn }}
  assume_role {
    role_arn     = "{{ .RoleArn }}"
  }
  {{ end }}
  allowed_account_ids = [{{ .AccountID }}]
}
{{ end }}
