{{ define "backend" }}
  backend {{ .Kind }} {
  {{ if eq .Kind "s3" }}
    bucket         = "{{ .S3.Bucket }}"
    {{ if .S3.DynamoTable }}dynamodb_table = "{{ .S3.DynamoTable }}"{{ end }}
    key            = "{{ .S3.KeyPath }}"
    encrypt = true
    region = "{{ .S3.Region }}"
    {{if .S3.Profile}}profile = "{{ .S3.Profile }}"{{end }}
    {{if .S3.RoleArn}}role_arn = "{{ .S3.RoleArn }}"{{end }}
  {{ else if eq .Kind "remote" }}
    hostname = "{{ .Remote.HostName }}"
    organization = "{{ .Remote.Organization }}"
    workspaces {
      name = "{{ .Remote.Workspace }}"
    }
  {{ end }}
  }
{{ end }}

{{ define "remote_backend" }}
  {{ if eq .Kind "s3" }}
    bucket         = "{{ .S3.Bucket }}"
    {{ if .S3.DynamoTable }}dynamodb_table = "{{ .S3.DynamoTable }}"{{ end }}
    key            = "{{ .S3.KeyPath }}"
    region = "{{ .S3.Region }}"
    {{if .S3.Profile}}profile = "{{ .S3.Profile }}"{{end }}
    {{if .S3.RoleArn}}role_arn = "{{ .S3.RoleArn }}"{{end }}
  {{ else if eq .Kind "remote" }}
    hostname = "{{ .Remote.HostName }}"
    organization = "{{ .Remote.Organization }}"
    workspaces = {
      name = "{{ .Remote.Workspace }}"
    }
  {{ end }}
{{ end }}
