{{ define "backend" }}
  backend "{{ .Kind }}" {
  {{ if eq .Kind "s3" }}
    bucket         = "{{ .S3.Bucket }}"
    {{ if .S3.DynamoTable }}dynamodb_table = "{{ .S3.DynamoTable }}"{{ end }}
    key            = "{{ .S3.KeyPath }}"
    encrypt = true
    region = "{{ .S3.Region }}"
    {{if .S3.Profile}}profile = "{{ .S3.Profile }}"{{end }}
    {{if .S3.RoleArn}}assume_role = {
      role_arn = "{{ .S3.RoleArn }}"
    }{{end }}
  {{ else if eq .Kind "remote" }}
    hostname = "{{ .Remote.HostName }}"
    organization = "{{ .Remote.Organization }}"
    workspaces {
      name = "{{ .Remote.Workspace }}"
    }
  {{ else if eq .Kind "http" }}
    address = "{{ .HTTP.Address }}"
    {{ if .HTTP.LockAddress }}lock_address = "{{ .HTTP.LockAddress }}"{{ end }}
    {{ if .HTTP.UnlockAddress }}unlock_address = "{{ .HTTP.UnlockAddress }}"{{ end }}
    {{ if .HTTP.UpdateMethod }}update_method = "{{ .HTTP.UpdateMethod }}"{{ end }}
    {{ if .HTTP.LockMethod }}lock_method = "{{ .HTTP.LockMethod }}"{{ end }}
    {{ if .HTTP.UnlockMethod }}unlock_method = "{{ .HTTP.UnlockMethod }}"{{ end }}
    {{ if .HTTP.Username }}username = "{{ .HTTP.Username }}"{{ end }}
    {{ if .HTTP.Password }}password = "{{ .HTTP.Password }}"{{ end }}
  {{ end }}
  }
{{ end }}

{{ define "remote_backend" }}
  {{ if eq .Kind "s3" }}
    bucket         = "{{ .S3.Bucket }}"
    {{ if .S3.DynamoTable }}dynamodb_table = "{{ .S3.DynamoTable }}"{{ end }}
    key            = "{{ .S3.KeyPath }}"
    region = "{{ .S3.Region }}"
    {{if .S3.Profile}}profile = "{{ .S3.Profile }}"{{end }}
    {{if .S3.RoleArn}}assume_role = {
      role_arn = "{{ .S3.RoleArn }}"
    }{{end }}
  {{ else if eq .Kind "remote" }}
    hostname = "{{ .Remote.HostName }}"
    organization = "{{ .Remote.Organization }}"
    workspaces = {
      name = "{{ .Remote.Workspace }}"
    }
  {{ else if eq .Kind "http" }}
    address = "{{ .HTTP.Address }}"
    {{ if .HTTP.LockAddress }}lock_address = "{{ .HTTP.LockAddress }}"{{ end }}
    {{ if .HTTP.UnlockAddress }}unlock_address = "{{ .HTTP.UnlockAddress }}"{{ end }}
    {{ if .HTTP.UpdateMethod }}update_method = "{{ .HTTP.UpdateMethod }}"{{ end }}
    {{ if .HTTP.LockMethod }}lock_method = "{{ .HTTP.LockMethod }}"{{ end }}
    {{ if .HTTP.UnlockMethod }}unlock_method = "{{ .HTTP.UnlockMethod }}"{{ end }}
    {{ if .HTTP.Username }}username = "{{ .HTTP.Username }}"{{ end }}
    {{ if .HTTP.Password }}password = "{{ .HTTP.Password }}"{{ end }}
  {{ end }}
{{ end }}
