{{ define "kubernetes_provider" -}}
{{ if .Kubernetes.ClusterComponentName -}}
  data "aws_eks_cluster" "cluster" {
    name = {{ .Kubernetes.ClusterComponentName }}
  }

  data "aws_eks_cluster_auth" "cluster" {
    name = {{ .Kubernetes.ClusterComponentName }}
  }

provider "kubernetes" {
  host                   = data.aws_eks_cluster.cluster.endpoint
  cluster_ca_certificate = base64decode(data.aws_eks_cluster.cluster.certificate_authority[0].data)
  token                  = data.aws_eks_cluster_auth.cluster.token
}
{{if .Helm -}}{{if not .Helm.CustomProvider -}}
{{template "helm_provider" .Helm -}}
{{ end }}
{{ end }}

{{- if .Kubectl -}}{{- if not .Kubectl.CustomProvider -}}
{{template "kubectl_provider" .Kubectl -}}
{{- end -}}
{{- end -}}


{{- end -}}
{{- end -}}
