{{ define "kubernetes_provider" -}}
{{ if .Kubernetes.ClusterComponentName -}}
  data "aws_eks_cluster" "cluster" {
    name = data.terraform_remote_state.{{ .Kubernetes.ClusterComponentName }}.outputs.cluster_id
  }

  data "aws_eks_cluster_auth" "cluster" {
    name = data.terraform_remote_state.{{ .Kubernetes.ClusterComponentName }}.outputs.cluster_id
  }

provider "kubernetes" {
  host                   = data.aws_eks_cluster.cluster.endpoint
  cluster_ca_certificate = base64decode(data.aws_eks_cluster.cluster.certificate_authority.0.data)
  token                  = data.aws_eks_cluster_auth.cluster.token
}

{{template "helm_provider" .Helm -}}
{{- template "kubectl_provider" .Kubectl -}}
{{ end }}{{ end }}
