{{ template "fogg_header_js" }}
/**
 * Outputs for:
 * - Environment: "{{ .Env }}"
 * - Component: "{{ .ComponentName }}"
 */
export interface {{ .ComponentNameTitle }}Outputs {
{{- range .Modules }}
  // module "{{.ModuleName}}" outputs
  {{- $outer := . -}}
  {{- range .Outputs }}
  /**
    * {{.Description}}
    */
  {{$outer.ModulePrefix}}{{.Name}}: any;
  {{- end }}
{{- end }}
}
