{{ template "fogg_header" }}
{{- range .Modules }}
module "{{.ModuleName}}" {
  {{- if .ModuleForEach }}
  for_each = {{ .ModuleForEach }}
  {{- end }}
  source = "{{.ModuleSource}}"
  {{- if .ModuleVersion }}
  version = "{{ .ModuleVersion }}"
  {{- end }}
  {{- $outer := . }}
  {{- range .Variables }}
    {{- if $outer.ModuleForEach }}
    {{.}} = each.value.{{.}}
    {{- else }}
    {{.}} = local.{{$outer.ModulePrefix}}{{.}}
    {{- end }}
  {{- end }}
  {{- if .ProvidersMap }}

  providers = {
  {{- range $child_provider, $parent_provider := .ProvidersMap}}
    {{ $child_provider }} = {{ $parent_provider }}
  {{- end}}
  }
  {{- end }}
}
{{ end }}