{{ template "fogg_header" }}
{{ range .Modules -}}
# module "{{.ModuleName}}" outputs
{{ $outer := . -}}
{{- range .Outputs -}}
output "{{$outer.ModulePrefix}}{{.Name}}" {
  {{- if $outer.ModuleForEach }}
  value = { for k, v in module.{{$outer.ModuleName}}:
    k => v.{{.Name}}
  }
  {{- else }}
  value = module.{{$outer.ModuleName}}.{{.Name}}
  {{- end }}
  sensitive = {{.Sensitive}}
}
{{end }}
{{- end }}