*.d.ts
*.js
node_modules
cdktf.out
cdktf.log
*terraform.*.tfstate*
.terraform
.terraform.lock.hcl
tsconfig.tsbuildinfo
!eslint.config.mjs
!vitest.config.mts
!vitest.setup.mts

// build outputs
dist

// test outputs
coverage
/test-reports/
junit.xml
/coverage/
